NEXT_PUBLIC_ORDER_SERVICE_URL=https://restaurant-digital.onrender.com
NEXT_PUBLIC_SALE_SERVICE_URL=https://restaurant-digital-sale-service.onrender.com
NEXT_PUBLIC_NOTIFICATION_SERVICE_URL=https://restaurant-digital-notification-service.onrender.com
